!!! 5
%html
  %head
  %title MDT - Hub

  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    %header
      = render 'header'
      = render 'nav'
    %main
      = yield
    %footer
      = render 'footer'
